
cmake-build-debug/
cmake-build-release/

build/
build/qt6/

*.db
*.db-shm
*.db-wal

*.o
*.obj
*.exe
*.dll

moc_*.cpp
ui_*.h
qrc_*.cpp
*.moc

.idea/
.vs/
*.user
CMakeLists.txt
cmake-build-debug-qt_mingw/